# Token bot tele làm bot bán hàng
BOT_TOKEN=
# ID ADMIN quản trị bot
ADMIN_IDS=

# Base url API
SHOP_API_BASE=https://idapplegiare.com

# Token API mua hàng tạo tại https://idapplegiare.com/developer-api
SHOP_API_TOKEN=

# LIên kết chứa check api lịch sử giao dịch dạng v1 chỉ hỗ trợ VCB muốn khác thì tự tích hợp
BANK_API_URL=
# Số tài khoản
BANK_ACCOUNT=
# Tên ngân hàng
BANK_NAME=VCB
# Chủ tài khoản
BANK_HOLDER=

# Chế độ dữ liệu "json" "mysql" chỉ nên dùng json khi dev hoặc demo không dùng trong production
DB_MODE=mysql
MYSQL_HOST=127.0.0.1
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Thông tin hỗ trợ ví dụ: @buithienban
SUPPORT_CONTACT=

# Cấu hình redis true dùng false bỏ
REDIS_ENABLED=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PREFIX=shopbot:

# Cấu hình tính năng phụ với tài khoản không có premium tele thì để false true/false
USE_PREMIUM_EMOJI=true
AUTO_CLEAN=true
